@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap'); 
/*Vista 1*/
.header{
  background-image: url("/src/img/header.png");
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  background-position: -700px 0px;
  height: 125px;
  
}
.circuloAmarillo{
  position:relative;
  background-color: #FCDD09;
  width: 65px;
  height: 65px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  align-self: right;
  margin-top: -10px;
  z-index: 0;
}
.circuloVioleta{
  position:absolute;
  z-index: 1;
  background-color: #742C64;
  color:white;
  font-weight: bold;
  width: 25px;
  height: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  margin-top:45px;
  margin-left: 91vw;
}

.car1{
  margin-top: 15px;
  margin-left: 6px;
  height:40px;
  width:47px;
  background-position:center;
}
h1{
  color:white;
  font-family: 'Italianno',regular;
}
#titulo{
  font-size: 67px;
  margin-top:45px;
  font-weight:normal;
  margin-left: 5px;
}

.footer{
  background-color: #FCDD09;
  text-align: center;
  font-family: 'Inter', sans-serif;
  display:flex;
  justify-content: space-around;
  

}
.btn{
  background-color: Transparent;
  border: none;

}
.inicio{
    
    height:55px;
    width:64px;
    background-position:center;
    
}
.instrumentos{

  height:59px;
  width:59px;
  background-position:center;
}
.car{
  margin-top: 5px;
  margin-left: -7px;
  height:50px;
  width:57px;
  background-position:center;
}
.textoboton{
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}
.body {
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-bottom:10px;
  margin-top: -10px;;

}
p {
  font-family: 'Inter', bold;
  font-size:18px;
  text-align: center;
  font-weight: bold;
}
.compra{
  font-family: 'Inter', sans-serif;
  background-color: #742C64;
  font-weight: bolder;
  border: none;
  color: white;
  font-size: 18px;
  border-radius:2em;
  padding: 15px;
  box-shadow: 0px 4px rgba(0,0,0,0.3);
}
.btn{
  font-family: 'Inter', sans-serif;

}
/*Vista 2*/
.scrollmenu{
  display: flex;
  flex-direction: row;
  margin-top:-20px;
  overflow: auto;
  white-space: nowrap;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollmenu::-webkit-scrollbar {
  display: none;
}
.bCategoria{
  font-family: 'Inter', sans-serif;
  background-color: white;
  font-weight: bolder;
  border:2px solid black;
  font-size: 18px;
  border-radius:2em;
  padding: 5px;
}
.bCategoria:hover {
  background-color: black;
  color: white;
}
.imagenCard{
  width: 62px;
  height:135px;
  border-radius:1em;
}
.card{
  display: flex;
  flex-direction: row;
  border:2px solid black;
  width: 160px;
  height: 140px;
  border-radius:1em;
  padding-top: 2px;
  padding-left: 3px;
  margin: 2px;

}
.categorias{
  margin-top:-20px;
  padding: 0px;
}
.derecha{
  padding-left: 4px;
}
.afinacion, .material1, .tituloProducto{
  font-weight: bold;
  font-size: 15px;
}
.checkbox-inline, .precio{
  font-size: 15px;
}
input[type=radio] {
  display: block;
  margin: 0 auto;
  
}
.checkbox-inline{
  display: inline-block;
  margin-right: 5px;
}
.añadir{
  position: absolute;
  width: 30px;
     height: 30px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #742C64;
  z-index: 1;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  font-size: 25px;
  color: white;
  font-weight: bolder;
}
.añadir:hover {
  -webkit-transform: scale(1.5);
    transform: scale(1.5)
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
